@media (max-width: 1024px) {
  .ar-brand,
  .ar-logo img {
    display: none !important;
  }
  .ar-about-container {
    display: flex;
    flex-direction: column;
  }
  .ar-about-container img {
    height: 500px;
  }
  .carousel {
    margin-top: 72px;
  }
}

@media (max-width: 768px) {
  .button-group button {
    width: 23%;
    font-size: 0.8rem;
  }
  .why-text {
    padding-top: 0;
  }
  #dinner-container,
  #lunch-container,
  #drinks-container {
    display: flex;

    p {
      display: none;
    }
    .add-to-cart {
      font-size: 0.5rem;
    }
  }
  .custom-img {
    height: 150px;
    object-fit: cover;
  }

  .ar-about-container img {
    height: 440px;
  }
  .nav-link {
    margin-top: 20px;
  }
}

@media (max-width: 468px) {
  .button-group button {
    width: 23%;
    font-size: 0.8rem;
  }
  .why-text {
    padding-top: 0;
  }
  #dinner-container,
  #lunch-container,
  #drinks-container {
    display: flex;

    p {
      display: none;
    }
    .add-to-cart {
      font-size: 0.5rem;
    }
  }
  .custom-img {
    height: 150px;
    object-fit: cover;
  }

  .detail-container button {
    border-radius: 0 !important;
    padding: 0;
    margin-bottom: -7px;
    img {
      display: none;
    }
  }
  .carousel,
  .ar-about-section {
    display: none;
  }
}
