@media (max-width: 768px) {
  .button-group button {
    width: 23%;
    font-size: 0.8rem;
  }
  .why-text {
    padding-top: 0;
  }
  #dinner-container,
  #lunch-container,
  #drinks-container {
    display: flex;

    p {
      display: none;
    }
    .add-to-cart {
      font-size: 0.5rem;
    }
  }
  .custom-img {
    height: 150px;
    object-fit: cover;
  }

  #cart-item-image {
    height: 150px;
  }
}

@media (max-width: 468px) {
  .button-group button {
    width: 23%;
    font-size: 0.8rem;
  }
  .why-text {
    padding-top: 0;
  }
  #dinner-container,
  #lunch-container,
  #drinks-container {
    display: flex;

    p {
      display: none;
    }
    .add-to-cart {
      font-size: 0.5rem;
    }
  }
  .custom-img {
    height: 150px;
    object-fit: cover;
  }

  .detail-container button {
    border-radius: 0 !important;
    padding: 0;
    margin-bottom: -7px;
    img {
      display: none;
    }
  }
}
