/* IMPORTS */
@import url(bootstrap.css);
@import url(animation.css);
@import url(responsive.css);

/* Variables */
:root {
  --btn-clr: #4caf50;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
}
